@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(102, 71, 131);
  /* background-image: url(../img/BreakableGlaringImpala-max-1mb.gif); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;

  box-shadow: #fff 0px 5px 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

#title{
  display: flex;
  justify-content: center;

  
}

#btns{
  display: flex;
  justify-content: center;
}

#btns button{
  cursor: pointer;

  margin-left: .4rem;

  padding: .3rem 1rem;

  border: none;
  border-radius: 5px;

  background-color: blueviolet;

  width: 200px;
  height: 100px;

  position: relative;
  transform: rotate(-30deg) skew(25deg) scale(0.5);

  font-size: 20pt;

  transition: .5s;
}

#btns button:hover{
  position: relative;
  transition: .5s;
  transform: rotate(-390deg) skew(25deg) scale(0.5);
  box-shadow: blueviolet 0 0 20px;

  background-color: chartreuse;
}

.relogio{
  font-size: 50pt;

  display: flex;
  justify-content: center;
}

.stop{
  animation: stopClock .8s ease-in-out infinite;
}

@keyframes stopClock {
  0%{
    color: black;
  }
  50%{
    color: red;
  }
  100%{
    color: black;
  }
}